<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/newteam">
     <p>Team Name: <input type="text" name="name"></p>
     <p>Coach: <input type="text" name="coach_name"></p>
     <p>Point Guard: <input type="text" pg="point_guard"></p>
     <p>Shooting Guard: <input type="text" sg="shooting_guard"></p>
     <p>Small Forward: <input type="text" pf="power_forward"></p>
     <p>Power Forward: <input type="text" center="center"></p>
   </form>
 </body>
</html>
